@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway:wght@500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen", sans-serif;;
}


nav{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 25px;
    font-family: "Raleway", sans-serif;;
}

.logo{
    cursor: pointer;
}

.banner{
    height: 45vh;
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
}

.banner >img{
    width: 100%;
    border-radius: 20px;
}

main{
    margin: 20px;
    padding: 20px;
}

main > h2{
    margin: 10px 0;
    text-align: center;
}

main > p{
    margin: 10px 0;
    text-align: center;
}

.container_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.container_1 > section {
    position: relative;
    transition: 300ms;
}

.container_2 > section {
    position: relative;
    transition: 300ms;
}

section >img{
    width: 100%;
    height: 55vh;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.container_1 > section:hover,
.container_2 > section:hover{
    transform: scale(1.01);
}

section > span{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 40px;
    color: white;
    font-weight: bolder;
}

.container_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

footer{
    background-color: black;
    height: 30vh;
    color: white;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

footer ul li{
    cursor: pointer;
}