body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
}

.loading {
    font-size: 30px;
    font-weight: medium;
    text-align: center;
}

.loading .loading__author {
    color: blueviolet;
    font-weight: bold;
}

.loading__anim {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgba(183, 178, 178, 0.5);
    border-top-color: blue;
    border-left-color: blue;
    border-radius: 50%;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

.element-to-animate {
    animation: rotate 600ms infinite linear;
}